base_path = "/"
listen_ip = "0.0.0.0"
listen_port = 6000
log_headers = false

api_url = "https://api.github.com/repos/vassalengine/vassal/issues"
api_token = ""
log_url = "https://vassalengine.org/files/gh"
max_log_size = 2

bucket_name = "obj.vassalengine.org"
bucket_region = "us-east-1"
bucket_endpoint = "https://us-east-1.linodeobjects.com"
bucket_access_key = ""
bucket_secret_key = ""
bucket_base_url = "https://obj.vassalengine.org"
bucket_base_dir = "tracker/gh"
